
body, html{
    color: #bcd0f7;
    background: #1A233A;
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

#button {
position:fixed;
}

.navbar {
    background-color:#1a233a;
    position: relative;
}


/* The navbar */
.topnav {
overflow: hidden;
}

/* Navbar links */
.navbar a {
overflow: hidden;
float: left;
color: #f2f2f2;
text-align: left;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.navbar a:hover {
background-color:white;
color: black;
}

.name {
align-items: center;
}

/* .portfolio {
    height: 90%; 
    width: 90%;
    background-color: blueviolet;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.item {
    width: 200px;
    margin: 20px;
    object-fit: cover;
    text-align: center;
}

.item-image {
    background-color: white;
    height: 100%;
    margin-bottom: 15px;
    background-size: cover;

}

.item h1 {
  position: absolute;
  width: 100px;
  font-weight: 100;
  margin-top: 100px;
  margin-left: 30px;
  text-align: center;
  color: white;
  z-index: 1;
  transition: top .5s ease;
} */

.portfolio {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-flow: wrap;
    flex-direction: row;
}

.item {
    height: 350px;
    width: 250px;
    margin: 10px;
    border-radius: 15px;
}

.item-image {
    background-color: turquoise;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
}

.item h1 {
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    font-size: 22px;
}

.satellites {
    background-image: url('../images/satellites.JPG');
}

.movement {
    background-image: url('../images/movement.JPG');
}

.ufo {
    background-image: url('../images/ufo.JPG');
}

.ufo {
    background-image: url('../images/ufo.JPG');
}

.volunteers {
    background-image: url('../images/gis-e.JPG');
}

.crime {
    background-image: url('../images/movement.JPG');
}

.sanitation {
    background-image: url('../images/sanitation.JPG');
}

.personal {
    background-image: url('../images/moement.JPG');
}

.shortest {
    background-image: url('../images/shortest_path.JPG');
}




.button {
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    top: 30px;
    opacity: 0;
    transition: opacity .35s ease;
}

.button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.item-image:hover {
    background-color: turquoise;

}

.item-image:hover .button {
    opacity: 1;
}
  
