
{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>This is the about page</h1>

    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
</head>
<body>
    <div class="container">
        <div class="timeline">
                <div class="timeline-row">
                    <div class="timeline-time">
                        September 2021 - Current<small>London</small>
                    </div>
                    <div class="timeline-content">
                        <img class="thumbs" src="{% static 'images/informed_logo.png' %}" style="width:100px; height:80px;"></img>
                        <h3>Informed Solutions</h3>
                        <ul style="text-align: left;">
                            <li>Building testing environments for the Home Office with NodeJS, Express, PostgreSQL and JS</li>
                            <li>Supporting the DevOps and Service Desk Analysts (SDA) on Joint Air Quality Unit (JAQU)</li>
                            <li>Daily use of AWS services including CloudWatch, API Gateway and EC2 instances to ensure a continuous
                                and effective deployment of bug fixes, implementing new features and patching of technologies.</li>
                            <li>Automating SDA’s daily tasks for reporting user activity using R and Python</li>
                            <li>Developing projects within the Charities Team to raise money for local charities</li>
                            <li>Leading tutorials for interactive mapping for the company, using NodeJS, Express, PostgreSQL and JS</li>

                        </ul>

                        <!-- <div class="thumbs">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Maxwell Admin">
                        </div>
                        <div class="">
                            <span class="badge badge-pill">Sales</span>
                            <span class="badge badge-pill">Admin</span>
                        </div> -->
                    </div>
                </div>
        
                <div class="timeline-row">
                    <div class="timeline-time">
                        September 2020 - September 2021<small>London</small>
                    </div>
                    <div class="timeline-content">
                        <img class="thumbs" src="{% static 'images/ucl_logo.jpg' %}" style="width:120px; height:80px;"></img>
                        <h3>University College London</h3>
                        <h4>MSc. Geospatial Sciences (GIS and Computing)</h4>
                        <p>
                            Maxwell Admin Dashboard contains C3 graphs, flot graphs, data tables, calendar.
                        </p>
                        <!-- <div class="thumbs">
                            <div class="thumbs">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Maxwell Admin">
                        </div>
                        </div>
                        <div class="">
                            <span class="badge badge-pill">Graphs</span>
                            <span class="badge badge-pill">Chat</span>
                        </div> -->
                    </div>
                </div>
        
                <div class="timeline-row">
                    <div class="timeline-time">
                        March 2020 - December 2020<small>Dec 6</small>
                    </div>
                    <div class="timeline-content">
                        <img class="thumbs" src="{% static 'images/gather_logo.png' %}" style="width:80px; height:80px;"></img>
                        <h3>Gather Hub</h3>
                        <h4>Junior Geospatial Data and Risk Analyst</h4>
                        <p>Custom C3 graphs, Custom flot graphs, flot graphs, small graphs, Sass, profile and timeline.</p>
                        <!-- <div>
                            <span class="badge badge-pill">Invoice</span>
                            <span class="badge badge-pill">Tasks</span>
                        </div> -->
                    </div>
                </div>

                <div class="timeline-row">
                    <div class="timeline-time">
                        September 2016 - July 2019<small>Phnom Penh, Cambodia</small>
                    </div>
                    <div class="timeline-content">
                        <img class="thumbs" src="{% static 'images/MMA_logo.jpg' %}" style="width:80px; height:80px;"></img>
                        <h3>Mekong Modelling Associates</h3>
                        <h4>Geospatial Analyst and Cartographer</h4>
                        <p>
                            Maxwell Admin Dashboard contains C3 graphs, flot graphs, data tables, calendar.
                        </p>
                    </div>
                </div>
        
        
                <div class="timeline-row">
                    <div class="timeline-time">
                        October 2019<small>Phnom Penh, Cambodia</small>
                    </div>
                    <div class="timeline-content">
                        <img class="thumbs" src="{% static 'images/undp_logo.jpg' %}" style="width:80px; height:80px;"></img>
                        <h3>Independent Consultant</h3>
                        <h4>United Nations Development Program</h4>
                        <p>Maxwell Admin Dashboard contains C3 graphs, flot graphs, data tables, calendar, drag &amp; drop and ion slider.</p>
                        <!-- <div>
                            <span class="badge badge-pill">Profile</span>
                            <span class="badge badge-pill">Sales</span>
                        </div> -->
                    </div>
                </div>
        
                <div class="timeline-row">
                    <div class="timeline-time">
                        August 2019 - November 2019<small>Phnom Penh, Cambodia</small>
                    </div>
                    <div class="timeline-content">
                        <img class="thumbs" src="{% static 'images/itc_logo.png' %}" style="width:80px; height:80px;"></img>
                        <h3>Assistant Lecturer</h3>
                        <h4>Instit de Technologie du Cambodge</h4>
                        <p class="no-margin">Maxwell Admin dashboard includes invoice, profile, tasks, gallery, projects, maintanence.</p>
                        <!-- <div class="thumbs">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="Maxwell Admin">
                        </div>
                        <div>
                            <span class="badge badge-pill">Analytics</span>
                            <span class="badge badge-pill">Contacts</span>
                        </div> -->
                    </div>
                </div>
    
                <div class="timeline-row">
                    <div class="timeline-time">
                        September 2016 - July 2019<small>Durham, England</small>
                    </div>
                    <div class="timeline-content">
                        <img class="thumbs" src="{% static 'images/durham_logo.png' %}" style="width:80px; height:80px;"></img>
                        <h3>Durham University</h3>
                        <h4>BSc. Geography</h4>
                        <p>Maxwell Admin Dashboard contains C3 graphs, flot graphs, data tables, calendar, drag &amp; drop and ion slider.</p>
                        <div class="thumbs">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Maxwell Admin">
                        </div>
                        <div class="">
                            <span class="badge badge-pill">Orders</span>
                            <span class="badge badge-pill">Sales</span>
                        </div>
                    </div>
                </div>
        
                <div class="timeline-row">
                    <div class="timeline-content">
                        <p class="m-0">Loading...</p>
                    </div>
                </div>
        
            </div>
        </div>
    
</body>
</html>