
{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>This is the about page</h1>
    <nav class="navbar navbar-expand-sm fixed-top navbar-light" style="z-index: 1;">
        <a href="/website/about">About</a>
        <a href="#contact">Personal Projects</a>
        <a href="#about">Blog</a>
        <a href="#blog">CV</a>
    </nav>
    <script src="{% static 'js/timeline.js' %}"></script>
    <!-- <button>Volunteering Only</button> -->
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
    <div class="container">
        <div class="container" style="align-items: center;">
            <button onclick="getAll();">All</button>
            <button onclick="getEducationOnly();">Education Only</button>
            <button onclick="getWorkExperienceOnly();">Work Experience Only</button>
        </div>
        <div class="timeline">
                <div class="timeline-row" style="display: block; visibility: visable;" id="informed">
                    <div class="timeline-time">
                        September 2021 - Current<small>London</small>
                    </div>
                    <div class="timeline-content">
                        <img class="thumbs" src="{% static 'images/informed_logo.png' %}" style="width:100px; height:80px;"></img>
                        <h3>Informed Solutions</h3>
                        <ul style="text-align: left;">
                            <li>Building testing environments for the Home Office with NodeJS, Express, PostgreSQL and JS</li>
                            <li>Supporting the DevOps and Service Desk Analysts (SDA) on Joint Air Quality Unit (JAQU)</li>
                            <li>Daily use of AWS services including CloudWatch, API Gateway and EC2 instances to ensure a continuous
                                and effective deployment of bug fixes, implementing new features and patching of technologies.</li>
                            <li>Automating SDA’s daily tasks for reporting user activity using R and Python</li>
                            <li>Developing projects within the Charities Team to raise money for local charities</li>
                            <li>Leading tutorials for interactive mapping for the company, using NodeJS, Express, PostgreSQL and JS</li>
                        </ul>
                    </div>
                </div>
        
                <div class="timeline-row" style="display: block; visibility: visable;" id="ucl">
                    <div class="timeline-time">
                        September 2020 - September 2021<small>London</small>
                    </div>
                    <div class="timeline-content">
                        <img class="thumbs" src="{% static 'images/ucl_logo.jpg' %}" style="width:120px; height:80px;"></img>
                        <h3>University College London</h3>
                        <h4>MSc. Geospatial Sciences (GIS and Computing)</h4>
                        <p>
                            Maxwell Admin Dashboard contains C3 graphs, flot graphs, data tables, calendar.
                        </p>
                        <!-- <div class="thumbs">
                            <div class="thumbs">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Maxwell Admin">
                        </div>
                        </div>
                        <div class="">
                            <span class="badge badge-pill">Graphs</span>
                            <span class="badge badge-pill">Chat</span>
                        </div> -->
                    </div>
                </div>
        
                <div class="timeline-row" style="display: block; visibility: visable;" id="gather">
                    <div class="timeline-time">
                        March 2020 - December 2020<small>Dec 6</small>
                    </div>
                    <div class="timeline-content">
                        <img class="thumbs" src="{% static 'images/gather_logo.png' %}" style="width:80px; height:80px;"></img>
                        <h3>Gather Hub</h3>
                        <h4>Junior Geospatial Data and Risk Analyst</h4>
                        <p>Custom C3 graphs, Custom flot graphs, flot graphs, small graphs, Sass, profile and timeline.</p>
                        <!-- <div>
                            <span class="badge badge-pill">Invoice</span>
                            <span class="badge badge-pill">Tasks</span>
                        </div> -->
                        <ul style="text-align: left;">
                            <li>The SRI is used to identify priority investment areas for local stakeholders.</li>
                            <li>Designed and built a Shiny (R) interactive visualization application for NGOs, Governmental Departments and the World Bank (username: gather password: sanitation).</li>
                            <li>Lead data-analyst behind the Benchmark Initiative project, looking at the accessibility, accuracy and 
                                availability of global sanitation data</li>
                            <li>Predicted toilet locations in low data-coverage areas through semi-variance analysis</li>
                            <li>  Managed a team of 4 volunteers, supported their work at Gather alongside welfare and professional development.</li>
                            <li>Acted as Data Steward, where I reported and analysed how Gather is using their data for social good.</li>
                            <li>Independent Research Consultant alongside my master’s.</li>
                        </ul>
                    </div>
                </div>

                <div class="timeline-row" style="display: block; visibility: visable;" id="mma">
                    <div class="timeline-time">
                        September 2016 - July 2019<small>Phnom Penh, Cambodia</small>
                    </div>
                    <div class="timeline-content">
                        <img class="thumbs" src="{% static 'images/MMA_logo.jpg' %}" style="width:80px; height:80px;"></img>
                        <h3>Mekong Modelling Associates</h3>
                        <h4>Geospatial Analyst and Cartographer</h4>
                        <ul style="text-align: left;">
                            <li>Secured US$ 300,000 in future funding packages for Mekong Modelling Associates (MMA).</li>
                            <li>Assigned to analyse dam-burst flood scenarios through HEC-RAS and Flood Modeler Pro.</li>
                            <li>Created risk indexes using Google Earth Engine (JavaScript) from flood and drought data using satellite
                                imagery.</li>
                            <li>Analysed the effect of future development, loss of floodplains and climate change on the Mekong Transboundary Area between Cambodia and Thailand.</li>
                            <li>Reported and presented three papers for the Mekong River Commission (MRC).</li>
                            <li>Extensively used Python 3.0 to extract time-series data for over 10,000 ISIS hydrological nodes and
                                visualized this for reports (Matplotib, Geopandas, Pandas).</li>
                        </ul>
                    </div>
                </div>
        
        
                <div class="timeline-row" style="display: block; visibility: visable;" id="undp">
                    <div class="timeline-time">
                        October 2019<small>Phnom Penh, Cambodia</small>
                    </div>
                    <div class="timeline-content">
                        <img class="thumbs" src="{% static 'images/undp_logo.jpg' %}" style="width:80px; height:80px;"></img>
                        <h3>Independent Consultant</h3>
                        <h4>United Nations Development Program</h4>
                        <ul style="text-align: left;">
                            <li> Innovated a 'Structured Operational Procedure' (SOP) for Flood Early Warning Systems in Cambodia.</li>
                            <li>The SOP was instrumental in implementing an effective and efficient knowledge transfer between independent parties: the Prime Minister’s Office and the Ministry of Water Resources and Meteorology.</li>
                        </ul>
                    </div>
                </div>
        
                <div class="timeline-row" style="display: block; visibility: visable;" id="itc">
                    <div class="timeline-time">
                        August 2019 - November 2019<small>Phnom Penh, Cambodia</small>
                    </div>
                    <div class="timeline-content">
                        <img class="thumbs" src="{% static 'images/itc_logo.png' %}" style="width:80px; height:80px;"></img>
                        <h3>Assistant Lecturer</h3>
                        <h4>Instit de Technologie du Cambodge</h4>
                        <ul style="text-align: left;">
                            <li> Taught 30 4th year Engineering students GIS. Starting with the basic interface of ArcMAP, to complex raster manipulation, spatial analysis, and 2D/3D professional cartography.</li>
                        </ul>      
                    </div>
                </div>
    
                <div class="timeline-row" style="display: block; visibility: visable;" id="durham">
                    <div class="timeline-time">
                        September 2016 - July 2019<small>Durham, England</small>
                    </div>
                    <div class="timeline-content">
                        <img class="thumbs" src="{% static 'images/durham_logo.png' %}" style="width:80px; height:80px;"></img>
                        <h3>Durham University</h3>
                        <h4>BSc. Geography</h4>
                        <p>Maxwell Admin Dashboard contains C3 graphs, flot graphs, data tables, calendar, drag &amp; drop and ion slider.</p>
                        <div class="thumbs">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Maxwell Admin">
                        </div>
                        <div class="">
                            <span class="badge badge-pill">Orders</span>
                            <span class="badge badge-pill">Sales</span>
                        </div>
                    </div>
                </div>
        
                <!-- <div class="timeline-row">
                    <div class="timeline-content">
                        <p class="m-0">Loading...</p>
                    </div>
                </div> -->
        
            </div>
        </div>
</body>
</html>