{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/projects.css' %}">
</head>
<body>
  <div class="container">
    <!-- <nav class="navbar navbar-expand-sm fixed-top navbar-light" style="z-index: 1;"> -->
      <nav class="navbar topnav a name center">
      <a href="/website/about">About</a>
      <a href="/website/projects">Personal Projects</a>
      <a href="#about">Blog</a>
      <a href="#blog">CV</a>
    </nav>
  </div>

  <ul class="portfolio">
    <li class="item">
      <div class="item-image satellites">
        <h1>SatelliteViewer</h1>
      </br>
        <div class="button"><a href="https://future-satellites.herokuapp.com/"> Project </a></div>
      </br></br></br>
        <div class="button"><a href="https://github.com/blueriver212/SatelliteViewer"> Code </a></div>
      </div>
    </li>
    <li class="item">
      <div class="item-image satellites">
        <h1>Dissertation</h1>
      </br>
      <div class="button"><a href="#"> Dissertation </a></div>
    </br></br></br>
    </div>
      </div>
    </li>
    <li class="item">
      <div class="item-image movement">
        <h1>Movement (p5js)</h1>
      </br>
      <div class="button"><a href="https://blueriver212.github.io/movement.html"> Project </a></div>
    </br></br></br>
      <div class="button"><a href="https://github.com/blueriver212/blueriver212.github.io"> Code </a></div>
    </div>
      </div>
    </li>
    <li class="item">
      <div class="item-image shortest">
        <h1 style="color: black;">Shortest Path Algorithm</h1>
      </br>
      <div class="button"  ><a style="color: black; border: solid 2px black;" href="https://github.com/blueriver212/Shortest-Path-Algorithm"> Project </a></div>
    </br></br></br>
      <div class="button"><a style="color: black; border: solid 2px black;" href="https://github.com/blueriver212/Shortest-Path-Algorithm"> Code </a></div>
    </div>
      </div>
    </li>
    <li class="item">
      <div class="item-image personal">
        <h1>Personal Website</h1>
      </br>
      <div class="button"><a href="#"> Project </a></div>
    </br></br></br>
      <div class="button"><a href="https://github.com/blueriver212/personalWebsite"> Code </a></div>
    </div>
      </div>
    </li>
    <li class="item">
      <div class="item-image sanitation">
        <h1 style="color: black;">Sanitaton Risk Index</h1>
      </br>
      <div class="button"><a style="color: black; border: solid 2px black;" href="https://sanitation-hub.shinyapps.io/shiny/"> Project </a></div>
    </br></br></br>
      <div class="button"><a style="color: black; border: solid 2px black;" href="https://github.com/blueriver212/SanitationRisk_App"> Code </a></div>
    </div>
      </div>
    </li>
    <li class="item">
      <div class="item-image crime">
        <h1>Crime Prediction</h1>
      </br>
    </br></br></br>
      <div class="button"><a href="https://github.com/blueriver212/Crime_Prediction_ML"> Code </a></div>
    </div>
      </div>
    </li>
    <li class="item">
      <div class="item-image volunteers">
        <h1>GIS-E Volunteers</h1>
      </br>
      <div class="button"><a style="color: black; border: solid 2px black;" href="https://blueriver212.github.io/"> Project </a></div>
    </br></br></br>
      <div class="button"><a style="color: black; border: solid 2px black;" href="https://github.com/blueriver212/blueriver212.github.io"> Code </a></div>
    </div>
      </div>
    </li>
  </ul>
</body>
</html>